name : CI pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'uat'
        type: choice
        options:
          - uat
          - prod
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

        # Upload the HTML as artifact
      - name: Upload static site artifact
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: static-site
          path: |
            index.html
# Deploy to AWS S3
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1 

      - name: Get commit message
        run: |
          COMMIT_MSG=$(git log -1 --pretty=format:"%s")
          echo "COMMIT_MSG=$COMMIT_MSG" >> $GITHUB_ENV

# Upload & deploy based on branch/environment
      - name: Deploy to Dev S3
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        shell: bash
        run: |
               shopt -s nullglob
               for file in release/*Setup*.exe.txt; do
                aws s3 cp "$file" s3://dev-aditya-280595/ \
                 --metadata "commit-message=${{ env.COMMIT_MSG }}"
                done



      - name: Deploy to Prod S3
        if: startsWith(github.ref, 'refs/heads/release/')
        run: |
          aws s3 cp index.html s3://prod-aditya-2805/index.html

      - name: Deploy to UAT S3
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.environment == 'uat'
        run: |
          aws s3 cp index.html s3://uat-aditya-2805/index.html

      - name: Deploy succesfull
        run: echo "Deployed Successfull"