name: CI pipeline

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read 

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::084669006157:role/MyOIDCRole
          aws-region: ap-south-1 

      - name: Get commit message
        shell: bash
        run: |
          COMMIT_MSG=$(git log -1 --pretty=format:"%s")
          echo "COMMIT_MSG=$COMMIT_MSG" >> $GITHUB_ENV

      - name: Deploy to Dev S3
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: aws s3 cp release/ s3://dev-aditya-280595/ --recursive --exclude "*" --include "*.exe.txt" --exclude "win-unpacked/*"

      - name: Tag latest uploaded file
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        shell: pwsh
        run: |
          $latestFile = aws s3api list-objects-v2 --bucket dev-aditya-280595 --query 'sort_by(Contents, &LastModified)[-1].Key' --output text
          $tagging = @{TagSet=@(@{Key="commit-message";Value=$env:COMMIT_MSG})} | ConvertTo-Json -Compress -Depth 3
          aws s3api put-object-tagging --bucket dev-aditya-280595 --key $latestFile --tagging $tagging
